.banner-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../../assets/banner.jpg");
  background-size: cover;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: white;
  font-size: 48px;
  font-weight: 500;
}

@media all and (max-width:768px) {
  .banner-section {
    height: 110px;
    border-radius: 10px;
    justify-content: start;
    padding: 16px;
    box-sizing: border-box;
  }

  .banner-text {
    font-size: 24px;
  }
}
