.carrousel {
  height: 515px;
  position: relative;
}

.carrousel-picture {
  width: 100%;
  height: 515px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.carrousel-navigation {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.carrousel-chevron {
  color: white;
  height: 92px;
}

@media all and (max-width:768px) {
  .carrousel {
    height: 255px;
  }

  .carrousel-picture {
    height: 255px;
    border-radius: 10px;
  }

  .carrousel-chevron {
    height: 20px;
  }
}
