.collapse {
  margin: 32px 72px;
  border-radius: 5px;
}

.collapse-title {
  background-color: #FF6060;
  padding: 12px 12px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
}

.collapse-title h4 {
  margin: 0;
  font-weight: 500;
}

.collapse-text {
  color: #FF6060;
  font-size: 24px;
  padding: 12px;
  background-color: #F6F6F6;
  border-radius: 5px;

}

.collapse-text ul {
  list-style: none;
  padding: 0;
}

.chevron {
  font-size: 32px;
}

@media all and (max-width:768px) {
  .collapse {
    margin: 32px 0px;
    background-color: #F6F6F6;
    border-radius: 5px;
  }

  .collapse-title {
    font-size: 16px;
  }

  .collapse-text {
    font-size: 14px;
  }

  .chevron {
    font-size: 20px;
  }
}
