.pagination {
  color: white;
  font-size: 18px;
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media all and (max-width:768px) {
  .pagination {
    display: none;
  }
}
