.error {
  color: #FF6060;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-title {
  font-size: 288px;
  font-weight: 700;
  margin: 48px 0 0 0;
}

.error-text {
  font-size: 36px;
  margin: 0 0 182px 0;
  text-align: center;
}

.error-link {
  font-size: 18px;
}

.error-link:visited {
  color: #FF6060;
}

@media all and (max-width:768px) {
  .error-title {
    font-size: 96px;
    margin: 124px 0 0 0;
  }

  .error-text {
    font-size: 20px;
    margin: 0 0 182px 0;
  }

  .error-link {
    font-size: 14px;
  }
}
