.cards-section {
  background-color: #F6F6F6;
  padding: 56px 50px;
  border-radius: 25px;
  margin: 44px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 60px;
  row-gap: 50px;
}
